*{
    background:white;
    margin:0;
    position: absolute;
}

#main{
    background:#14313E;
    width: 400px;
    height: 300px;
}
  #a{
    width:80px;
    height:100px;
    background:#BA3E46;
    margin:125px 160px;
  }
  #b{
    width:80px;
    height:30px;
    background:#F3695A;
    border-radius:50%;
    margin:110px 160px;
  }
  #c{
    width:60px;
    height:28px;
    background:#14313E;
    border-radius:50%;
    margin:102px 170px;
  }
  #d{
    width:80px;
    height:32px;
    background:#BA3E46;
    border-radius:50%;
    margin:208px 160px;
  }
  #e{
    width:30px;
    height:50px;
    background:#F3AC3C;
    border-radius:34px 0;
    margin:60px 200px;
  }  
